.about {
  padding: 60px 0 80px;

  // about-top
  &-top {
    @include flex-spaceBetween-center;
    padding-bottom: 60px;
    border-bottom: var(--c-border-bottom);
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 35px;
    transition: var(--transition);
    &:hover {
      opacity: 0.8;
    }
    &__img {
      padding: 20px;
      border-radius: 100%;
      background-color: var(--color-1);
      transition: var(--transition);
      &:hover {
        background-color: var(--color-2);
      }
    }
    &__text {
      max-width: 253px;
      &-title {
        font: var(--txt-500-22-132-ff);
        color: var(--color-black);
        margin-bottom: 10px;
      }
      &-desc {
        font: var(--txt-400-16-132-ff);
        color: var(--color-text);
      }
    }
  }

  // about-bottom
  &-bottom {
    padding-top: 80px;
    display: flex;
    gap: 45px;
  }
  &-info {
    max-width: 555px;
    &__txt {
      font: var(--txt-500-22-149-ff);
      text-transform: uppercase;
      color: var(--color-1);
    }
    &__title {
      font: var(--txt-700-44-149-ff);
      color: var(--color-9);
      margin-bottom: 20px;
    }
    &__desc {
      font: var(--txt-400-18-185-ff);
      color: var(--color-text);
      margin-bottom: 34px;
    }

    // about-info__blocks
    &__blocks {
      max-width: 488px;
      padding: 45px 40px 55px;
      border: 1px solid var(--color-1);
      border-radius: 20px;

      display: flex;
      flex-wrap: wrap;
    }
    &__statistics {
      text-align: center;
      width: 50%;
      &:nth-child(2n + 1) {
        border-right: 1px solid rgba(37, 129, 217, 0.35);
      }
      &:nth-last-child(n + 3) {
        border-bottom: 1px solid rgba(37, 129, 217, 0.35);
      }
      &-number {
        font: var(--txt-700-50-155-ff);
        color: var(--color-1);
      }
      &-desc {
        font: var(--txt-400-16-150-ff);
        color: var(--color-text);
        margin-bottom: 17px;
      }
    }
  }

  // about-images
  &-img {
    display: flex;
    column-gap: 20px;
    height: 100%;
    span {
      overflow: hidden;
      display: block;
      border-radius: 20px;
      &:nth-child(1) {
        min-width: 154px;
        width: 154px;
        img {
          object-position: left top;
        }
      }
      &:nth-child(2) {
        min-width: 259px;
        width: 259px;
        img {
          object-position: 68% top;
        }
      }
      &:nth-child(3) {
        min-width: 75px;
        width: 75px;
        img {
          object-position: right top;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
