.about {
  padding: 60px 0 80px;
  @include mobile {
    padding: 50px 0 60px;
  }
  // about-top START
  &-top {
    @include flex-spaceBetween-center;
    padding-bottom: 60px;
    border-bottom: var(--c-border-bottom);
    @include desktop-small {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 35px;
    transition: var(--transition);
    &:hover {
      opacity: 0.8;
    }
    @include desktop-small {
      flex-direction: column;
      text-align: center;
    }
    @include mobile {
      flex-direction: row;
      gap: 20px;
    }
    &__img {
      padding: 20px;
      border-radius: 100%;
      background-color: var(--color-1);
      transition: var(--transition);
      &:hover {
        background-color: var(--color-2);
      }
      @include mobile {
        width: 75px;
        height: 75px;
      }
    }
    &__text {
      max-width: 253px;
      @include mobile{
        text-align: left;
      }
      &-title {
        font: var(--txt-500-22-132-ff);
        color: var(--color-black);
        margin-bottom: 10px;
        @include mobile {
          font: var(--txt-500-19-132-ff);
        }
      }
      &-desc {
        font: var(--txt-400-16-132-ff);
        color: var(--color-text);
        @include mobile {
          font: var(--txt-400-14-132-ff);
        }
      }
    }
  }
  // about-top END

  // about-bottom START
  &-bottom {
    padding-top: 80px;
    display: flex;
    gap: 45px;
    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &-info {
    max-width: 555px;
    @include tablet {
      max-width: inherit;
    }
    &__txt {
      font: var(--txt-500-22-149-ff);
      text-transform: uppercase;
      color: var(--color-1);
    }
    &__title {
      font: var(--txt-700-44-149-ff);
      color: var(--color-9);
      margin-bottom: 20px;
      @include mobile {
        font: var(--txt-700-34-149-ff);
      }
    }
    &__desc {
      font: var(--txt-400-18-185-ff);
      color: var(--color-text);
      margin-bottom: 34px;
    }

    // about-info__blocks
    &__blocks {
      max-width: 488px;
      padding: 45px 40px 55px;
      border: 1px solid var(--color-1);
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      @include tablet {
        margin-inline: auto;
        padding: 30px 25px 40px;
      }
    }
    &__statistics {
      text-align: center;
      width: 50%;
      &:nth-child(2n + 1) {
        border-right: 1px solid rgba(37, 129, 217, 0.35);
      }
      &:nth-last-child(n + 3) {
        border-bottom: 1px solid rgba(37, 129, 217, 0.35);
      }
      &-number {
        font: var(--txt-700-50-155-ff);
        color: var(--color-1);
        @include mobile {
          font: var(--txt-700-36-155-ff);
        }
      }
      &-desc {
        font: var(--txt-400-16-150-ff);
        color: var(--color-text);
        margin-bottom: 17px;
        @include mobile {
          font: var(--txt-400-10-150-ff);
        }
      }
    }
  }

  // about-images
  &-img {
    display: flex;
    column-gap: 20px;
    height: 100%;
    span {
      overflow: hidden;
      display: block;
      border-radius: 20px;
      &:nth-child(1) {
        min-width: 154px;
        width: 154px;
        @include desktop-small {
          min-width: 130px;
          width: 130px;
        }
        @include tablet {
          display: none;
        }
        img {
          object-position: left top;
        }
      }
      &:nth-child(2) {
        min-width: 259px;
        width: 259px;
        @include desktop-small {
          min-width: 200px;
          width: 200px;
        }
        @include tablet {
          min-width: auto;
          width: 100%;
        }
        img {
          object-position: 68% top;
          @include desktop-small {
            object-position: 76% top;
          }
        }
      }
      &:nth-child(3) {
        min-width: 75px;
        width: 75px;
        @include tablet {
          display: none;
        }
        img {
          object-position: right top;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  // about-bottom END
}
