.partners {
  .swiper-slide {
    height: auto;
  }
  &-item {
    position: relative;
    background-color: var(--color-1);
    border-radius: 20px;
    width: 175px;
    height: 200px;
    padding: 30px 20px;
    @include flex-center-center;
    flex-direction: column;
    cursor: pointer;
    @include mobile {
      width: 162px;
      height: 185px;
    }
    @include mobile-small {
      width: 142px;
      height: 165px;
    }
    span {
      display: inline-block;
      &:first-child {
        position: absolute;
        filter: brightness(10);
        transition: var(--transition);
      }
      &:last-child {
        position: absolute;
        transition: var(--transition);
        transform: translateY(180px);
        filter: blur(10px);
      }
    }
    &:hover span:last-child {
      transform: none;
      filter: none;
    }
    &:hover span:first-child {
      transform: translateY(-180px);
    }
  }
}
