:root {
  --ff: "Roboto", sans-serif;
  --sf: "Comfortaa", sans-serif;
  --tf: "Lato", sans-serif;
  --transition: 0.4s all ease-in-out;
  --transition-2: 0.6s all ease-in-out;

  --txt-900-80-100-ff: normal 900 80px / 100% var(--ff);
  --txt-700-50-155-ff: normal 700 50px / 155% var(--ff);
  --txt-700-35-100-ff: normal 700 35px / 100% var(--ff);
  --txt-700-44-149-ff: normal 700 44px / 149% var(--ff);
  --txt-700-24-185-ff: normal 700 24px / 185% var(--ff);
  --txt-700-21-126-ff: normal 700 21px / 126% var(--ff);
  --txt-700-20-198-ff: normal 700 20px / 198% var(--ff);
  --txt-700-20-149-ff: normal 700 20px / 149% var(--ff);
  --txt-700-20-100-ff: normal 700 20px / 100% var(--ff);
  --txt-700-18-147-ff: normal 700 18px / 147% var(--ff);
  --txt-700-18-100-ff: normal 700 18px / 100% var(--ff);
  --txt-700-16-100-ff: normal 700 16px / 100% var(--ff);
  --txt-700-14-100-ff: normal 700 14px / 100% var(--ff);
  --txt-500-65-147-ff: normal 500 65px / 147% var(--ff);
  --txt-500-22-149-ff: normal 500 22px / 149% var(--ff);
  --txt-500-22-132-ff: normal 500 22px / 132% var(--ff);
  --txt-500-18-147-ff: normal 500 18px / 147% var(--ff);
  --txt-500-16-149-ff: normal 500 16px / 149% var(--ff);
  --txt-500-16-136-ff: normal 500 16px / 136% var(--ff);
  --txt-500-14-149-ff: normal 500 14px / 149% var(--ff);
  --txt-400-18-185-ff: normal 400 18px / 185% var(--ff);
  --txt-400-18-176-ff: normal 400 18px / 176% var(--ff);
  --txt-400-16-185-ff: normal 400 16px / 185% var(--ff);
  --txt-400-16-170-ff: normal 400 16px / 170% var(--ff);
  --txt-400-16-150-ff: normal 400 16px / 150% var(--ff);
  --txt-400-16-147-ff: normal 400 16px / 147% var(--ff);
  --txt-400-16-132-ff: normal 400 16px / 132% var(--ff);
  --txt-400-16-100-ff: normal 400 16px / 100% var(--ff);
  --txt-400-12-100-ff: normal 400 12px / 100% var(--ff);
  --txt-300-32-100-ff: normal 300 32px / 100% var(--ff);

  --c-text-white: #fff;
  --color-black: #242222;
  --color-1: #2581d9;
  --color-2: #41bef7;
  --color-text: #636060;
  --color-3: #bceafe;
  --color-4: #f6ecff;
  --color-5: #024260;
  --color-6: #dadada;
  --color-7: #e1e1e1;
  --color-8: #dedcdc;
  --color-9: #000;
  --color-10: #f1f1f1;
  --color-11: #d5d5d5;
  --color-12: #dedede;
  --color-13: #d4cccc;
  --color-14: #f4f4f4;
  --color-15: #e0dada;
  --color-16: #b5afaf;
  --c-background-faq: #00afff;
  --c-background-popup: rgba(48, 118, 184, 0.9);
  --c-box-shadow-sub-menu: 0 3px 8px 1px rgba(0, 0, 0, 0.07);
  --c-background-color-span: rgba(37, 129, 217, 0.35);
  --c-box-shadow-team: 0 4px 18px 3px rgba(133, 123, 123, 0.14);
  --c-border-bottom: 1px solid #e3e3e3;
}
