html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
.container {
  max-width: 1230px;
  margin-inline: auto;
  padding: 0 15px;
  width: 100%;
}
.btns {
  display: inline-block;
  font: var(--txt-700-16-100-ff);
  text-transform: uppercase;
  border-radius: 36px;
  color: var(--c-text-white);
  white-space: nowrap;
  transition: var(--transition);
  cursor: pointer;
  &:hover {
    opacity: 0.7;
    color: var(--color-black);
  }
}
.btn1 {
  background: var(--color-1);
  padding: 16px 30px;
}
.btn2 {
  padding: 20px 42px;
  background: var(--color-2);
}
.btn3 {
  padding: 20px 42px;
  border: 1px solid var(--c-text-white);
}
.py-60 {
  padding: 60px 0;
}
.py-80 {
  padding: 80px 0;
}
.py-100 {
  padding: 100px 0;
}
.title-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.mb-60 {
  margin-bottom: 60px;
}
.text-white {
  color: var(--c-text-white) !important;
}
.faq-element {
  position: absolute;
  top: 0;
  left: 63px;
  padding: 24px 23px;
  background: var(--color-1);
  border-radius: 0 0 32px 32px;
}
.swiper-pagination {
  position: static !important;
}
.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  border-radius: 100% !important;
  background-color: var(--color-1) !important;
  transition: var(--transition-2);
}
.swiper-pagination-bullet-active {
  border-radius: 23px !important;
  width: 30px !important;
  height: 13px !important;
  background: var(--color-1) !important;
}
.btn-margin-right {
  margin-right: 0 !important;
}
// appointment-form
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="month"],
input[type="password"],
input[type="submit"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="date"],
input[type="datetime"],
textarea,
select {
  border: 1px solid var(--color-18);
  border-radius: 5px;
  background-color: var(--color-19);
  padding: 15px 23px;
  outline: none;
  width: 100%;
  font: var(--txt-400-16-100-ff);
  color: var(--color-9);
  &::placeholder {
    font: var(--txt-400-16-100-ff);
    color: var(--color-20);
  }
}
select {
  appearance: none;
  background-image: url(../img/appointment/caret.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 95% center;
  color: var(--color-20);
}
