html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
.container {
  max-width: 1230px;
  margin-inline: auto;
  padding: 0 15px;
  width: 100%;
}
.btns {
  display: inline-block;
  font: var(--txt-700-16-100-ff);
  text-transform: uppercase;
  border-radius: 36px;
  color: var(--c-text-white);
  white-space: nowrap;
  transition: var(--transition);
  &:hover {
    opacity: 0.7;
    color: var(--color-black);
  }
}
.btn1 {
  background: var(--color-1);
  padding: 16px 30px;
}
.btn2 {
  padding: 20px 42px;
  background: var(--color-2);
}
.btn3 {
  padding: 20px 42px;
  border: 1px solid var(--c-text-white);
}
.py-80 {
  padding: 80px 0;
}
.py-100 {
  padding: 100px 0;
}
.title-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.mb-60 {
  margin-bottom: 60px;
}
.text-white {
  color: var(--c-text-white) !important;
}
.faq-element {
  position: absolute;
  top: 0;
  left: 63px;
  padding: 24px 23px;
  background: var(--color-1);
  border-radius: 0 0 32px 32px;
}
.swiper-pagination {
  position: static !important;
}
.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  border-radius: 100% !important;
  background-color: var(--color-1) !important;
  transition: var(--transition-2);
}
.swiper-pagination-bullet-active {
  border-radius: 23px !important;
  width: 30px !important;
  height: 13px !important;
  background: var(--color-1) !important;
}
