html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  scroll-behavior: smooth;
}
.container {
  max-width: 1230px;
  margin-inline: auto;
  padding: 0 15px;
  width: 100%;
}

.btn-1 {
  display: inline-block;
  background: var(--color-1);
  padding: 16px 30px;
  border-radius: 29px;
  font: var(--txt-700-16-100-ff);
  text-transform: uppercase;
  color: var(--c-text-white);
  white-space: nowrap;
  transition: var(--transition);
  &:hover {
    opacity: 0.8;
    color: var(--color-black);
  }
}
